.imgContainer{
    position: relative;
    display: block;
    width: 100%;
    height: 60vh;
    border: solid 1px #00FFFF;
}

.imgPrimary{
    position: relative;
    display: block;
    width: 100%;
    height: 60vh;
    left: -27px;
    top: -25px;
    background-image: url("../../../assets/images/selfie.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    border: solid 1px #00FFFF;
}



