.buttonContainer{
    position: relative;
    display: block;
    width: 180px;
    height: 37px;
    margin-left: 10px;
    border: solid 1px #00FFFF;
}

.buttonPrimary{
    position: relative;
    display: block;
    height: 37px;
    width: 180px;
    left: -12px;
    top: -12px;
    border: solid 1px #00FFFF;
    background-color: black;
}

.buttonPrimary p{
    text-align: center;
    margin: auto;
    margin-top: 6px;
    font-weight: 500;
    font-size: 16px;
}


