.Container{
  width: 80%;
  margin: auto;
}

h1{
  font-size: 4.5rem;
  line-height: 4.75rem;
  font-weight: 800;
  color: white;
  margin: 1.75rem 0;
}

h1 a{
  background: -webkit-linear-gradient(left,#00FFFF 60%,#ff0058);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ff23b613;
}

h3{
  color: white;
  font-weight: 100;
  font-size: 35px;
  line-height: 45px;
  margin: 0;
}

h5{
  color: white;
  font-size: 20px;
  font-weight: 200;
  margin: 0;
}

p{
  color: rgb(163 179 188);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 100;
  margin: 0;
}

button{
  border: solid 1px #00FFFF;
  color: #00FFFF;
  background-color: transparent;
  font-size: 1rem;
  padding: 1rem 2.5rem;
  border-radius: 5px;
  margin: 2rem 0;
  width: fit-content;
}


