body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(2, 3, 27);
}

h1{
  font-size: 4.5rem;
  line-height: 4.75rem;
  font-weight: 800;
  color: white;
  margin: 0;
}

h1 a{
  background: -webkit-linear-gradient(left,#00FFFF 60%,#ff0058);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ff23b613;
}

h3{
  color: white;
  font-weight: 100;
  font-size: 35px;
  line-height: 45px;
  margin: 0;
}

h5{
  color: white;
  font-size: 20px;
  font-weight: 200;
  margin: 0;
}

p{
  color: rgb(163 179 188);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 100;
  margin: 0;
}

button {
  background: transparent;
  border: solid 1px #00FFFF;
  border-radius: 5px;
  color: #fff;
  padding: 0.85rem 1.25rem;
  display: inline-block;
  font-size: 15px;
  width: fit-content;
  margin: 1.25rem 0;
  cursor: pointer;
  transform: scale(1)
}

button::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: linear-gradient(315deg, #00ffff, #ff0058);
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

button:hover {
  color: white;
  font-weight: bold;
}

button:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}
