.skillContainer{
    margin-bottom: 20px;
}

.skillHeading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

.skillHeading p{
    font-size: 15px;
}

.barChart{
    border: solid 1px #00FFFF;
    background-color: black;
    padding: 3px;
}

.barChart hr{
    border: solid 1px #00FFFF;
    background-color: #00FFFF;
    margin: 0;
    height: 10px;
}