.bannerContainer{
    padding: 70px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.bannerLeft{
    width: 55%;
    display: flex;
}

.bannerLeftText{
    align-self: center;
}

.bannerRight{
    width: 40%;
    border-bottom: solid 3px white;
}

.bannerRight img{
    width: 90%;
    margin: 0 5%;
}

